<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Details</title>
</head>
<body>
<h1>Details</h1>
<div>
    <h4>Movie</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10" th:text="${movie.title}"></dd>
        <dt class="col-sm-2">Rating</dt>
        <dd class="col-sm-10" th:text="${movie.rating}"></dd>
        <dt class="col-sm-2">Release Date</dt>
        <dd class="col-sm-10" th:text="${movie.releaseDate}"></dd>
        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10" th:text="${movie.genre}"></dd>
        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10" th:text="${movie.price}"></dd>
    </dl>
</div>
<div>
    <a th:href="@{/Movies/Edit/{id}(id=${movie.id})}">Edit</a> |
    <a th:href="@{/Movies/Index}">Back to List</a>
</div>
</body>
</html>
