<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Edit</title>
</head>
<body>
<h1>Edit</h1>
<h4>Movie</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form th:action="@{/Movies/Edit}" method="post" th:object="${movie}">
            <div class="form-group">
                <input type="hidden" th:field="*{id}"/>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'has-error'">
                <label for="title" class="control-label">title</label>
                <input type="text" id="title" th:field="*{title}" class="form-control"/>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('rating')} ? 'has-error'">
                <label for="rating" class="control-label">rating</label>
                <input type="text" id="rating" th:field="*{rating}" class="form-control"/>
                <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('releaseDate')} ? 'has-error'">
                <label for="releaseDate" class="control-label">Release Date</label>
                <input type="date" id="releaseDate" th:field="*{releaseDate}" class="form-control"/>
                <span th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}" class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('genre')} ? 'has-error'">
                <label for="genre" class="control-label">genre</label>
                <input type="text" id="genre" th:field="*{genre}" class="form-control"/>
                <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="help-block"></span>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('price')} ? 'has-error'">
                <label for="price" class="control-label">price</label>
                <input type="text" id="price" th:field="*{price}" class="form-control"/>
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="help-block"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
<div>
    <a th:href="@{/Movies/Index}">Back to List</a>
</div>
</body>
</html>
